---
import { Image } from "astro:assets";
import logo_mo from "~/assets/just_logo_mo.png";
import logo_phrase from "~/assets/logo_2.png";
import button1 from "~/assets/Boton-1.png";
import button2 from "~/assets/Boton-2.png";
import button3 from "~/assets/Boton-3.png";
const whatsappLink = "https://wa.me/+573194498266";
const courseLink = "/curso-tecnica-mo"; 
const cursoPresencialMessage = "Hola deseo solicitar información sobre el curso:%0A1.%20Carillas%20en%20resina%20indirecta%20y%20cerámica%20con%20paciente%20en%20vivo%0A2.%20Restauraciones%20Impresas%203D";
const citaMessage = "¡Hola! 👋 deseo solicitar una cita de valoración / información.";
const { generator, site } = Astro;
const image = new URL("logo_mo.png", site);
import bg_tecnica_mo from "~/assets/melissa_2.jpeg";
import whatsapp_bg from "~/assets/grupal.jpeg";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/logo_mo.png" type="image/png" />
    <meta name="description" content="Página principal para agendar citas y acceder al curso de Técnica MO." />
    <title>Página Principal | Técnica MO</title>

    <meta property="og:title" content="Página Principal | Técnica MO" />
    <meta property="og:description" content="Accede al curso Técnica MO o agenda una cita con la Dra. Melissa." />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={courseLink} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Página Principal | Técnica MO" />
    <meta name="twitter:description" content="Accede al curso Técnica MO o agenda una cita con la Dra. Melissa." />
    <meta name="twitter:image" content={image} />
  </head>
  <body class="bg-[#102434] h-screen flex flex-col items-center justify-center">
    <section class="flex flex-col items-center justify-center min-h-screen bg-[#102434] text-white">
      <div class="flex mb-10 w-full max-w-[700px] mx-auto justify-center">
        <img src={logo_phrase.src} alt="melissa odontóloga logo" class="w-full max-w-[700px] md:max-w-[600px] lg:max-w-[550px] h-auto" />
      </div>
      
      <div class="flex flex-col items-center space-y-4 mb-4">
        <a 
          href={`${whatsappLink}?text=${cursoPresencialMessage}`} 
          target="_blank"
          class="md:w-full w-10/12 max-w-sm mx-auto text-center rounded-lg text-lg md:text-xl hover:scale-105 transition-transform transform"
        >
          <img src={button1.src} alt="Ir al Curso Técnica MO Presencial" class="w-full h-auto" />
        </a>
        <a 
          href="/curso-tecnica-mo" 
          class="md:w-full w-10/12 max-w-sm mx-auto text-center rounded-lg text-lg md:text-xl hover:scale-105 transition-transform transform"
        >
          <img src={button2.src} alt="Ir al Curso Técnica MO Online" class="w-full h-auto" />
        </a>
        <a 
          href={`${whatsappLink}?text=${citaMessage}`}
          target="_blank" 
          class="md:w-full w-10/12 max-w-sm mx-auto text-center rounded-lg text-lg md:text-xl hover:scale-105 transition-transform transform"
        >
          <img src={button3.src} alt="Ir a Agendar Cita" class="w-full h-auto" />
        </a>
      </div>

      <div class="text-center">
        <img src={logo_mo.src} alt="Logo MO Cursos" class="w-32 md:w-48 mx-auto" />
      </div>
    </section>
  </body>
</html>
