---
import { Image } from "astro:assets";
// import { Icon } from "astro-icon/components";
// import astronautImage from "~/assets/astronaut.png";
import logoMo from "~/assets/logo_mo.png";
import Starfield from "~/components/starfield.astro";
import { bannerInformation } from "~/content/generalDataInformation";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative bg-gray-900 text-white pb-10 text-center items-center justify-center">
  <Starfield />

  <!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8"> -->
  <div class="relative min-h-[90vh] place-items-center px-4 py-5 sm:pt-2 grid-cols-1 mx-5 md:mx-20 align-middle lg:flex gap-20">
    <!-- Left Section: Text and Call to Action (40% on Desktop) -->
    <div class="text-center md:text-left md:justify-center ">
      <a href="/">
        <Image class="w-20 h-35 mx-auto" src={logoMo} alt="Instructor" />
      </a>
      <h2 class="text-lg sm:text-xl font-medium mt-10">
        {bannerInformation.tittle}
      </h2>
      <h3 class="text-2xl sm:text-3xl font-bold text-gold">
        {bannerInformation.tecnique}
      </h3>
      <p class="text-base my-10">
        En este curso online, te enseñaré paso a paso cómo construir <span class="font-bold text-gold">carillas en resina indirecta.</span> Un protocolo predecible y replicable.
      </p>
      <!-- CTA Button -->
      <div class="relative">
        <a href={bannerInformation.buttonLink} target="_blank"
           class="w-full block mb-10 px-10 py-5 bg-gold text-white font-semibold rounded-md hover:bg-goldDark hover:text-white transition-colors transform hover:scale-105 relative overflow-hidden z-10 shadow-md hover:shadow-lg flex items-center justify-center"
        >
          ¡Quiero mi cupo!
        </a>
      </div>
    </div>
  
    <!-- responsive image frame -->
    <div class="relative flex justify-center items-center w-full max-w-3xl mx-auto p-4">
      <iframe
        class="w-full h-auto aspect-video rounded-lg shadow-lg"
        src="https://drive.google.com/file/d/1omwDpDRZ43Oj5POv3ch0f9EU5XOunS3h/preview"
        allow="autoplay"
        allowfullscreen
      ></iframe>
      <div class="absolute top-2 right-2 w-20 h-20"></div>
    </div>
  </div>
  
  <!-- Updated Cards with Images -->
  <div class="relative grid place-items-center px-4 pt-6 pb-8 sm:pt-2 sm:pb-6 mx-5 grid-cols-1 md:grid-cols-3 gap-6 mb-8 mt-10 md:-mt-16">
    {bannerInformation.list.map((item) => (
      <div class="flex flex-col items-center bg-white border border-gray-300 rounded-lg shadow-md p-6 max-w-xs mx-auto min-h-[350px] transition-all duration-300 ease-in-out transform hover:scale-105 hover:shadow-[0_0_0_5px_rgba(212,175,55,0.5)] hover:border-gold">
        <!-- Image at the top of the card -->
        <Image src={item.image} alt={`Imagen`} class="w-full h-36 object-cover rounded-md mb-4" />
        
        <!-- Icon -->
        <div class="text-gold text-2xl mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-gold">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </div>

        <!-- Text content -->
        <p class="text-sm text-gray-700 text-center">
          {item.text}
        </p>
      </div>
    ))}
  </div>

  <!-- Arrow Button positioned between sections -->
  <div class="flex justify-center mt-6 relative z-10">
    <a href="#white-container" class="flex items-center justify-center w-12 h-12 bg-white rounded-full border border-gray-300 hover:bg-gray-200 transition-colors">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-gray-900">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </a>
  </div>

  <!-- Centered White Container -->
  <div id="white-container" class="relative text-sm max-w-screen-md px-5 py-10 -mt-6 md:mx-auto mx-5 mb-15 bg-white text-black text-justify rounded-md shadow-md">
    <p class="my-2">
      Domina el arte de crear carillas de resina indirectas con precisión y naturalidad.
    </p>
    <p class="my-2"> 
      La confección de carillas de resina puede ser un desafío, especialmente si estás comenzando y aún no has encontrado un método seguro y cómodo de seguir.
    </p>
    <p class="my-2">
      Sin un protocolo bien definido, los errores pueden comprometer la satisfacción del paciente y afectar tu reputación profesional a largo plazo.
    </p>
    <p class="my-2">
      Además, es frustrante dedicar tiempo y esfuerzo a un procedimiento solo para tener que repetirlo porque el resultado no cumplió con las expectativas del paciente.
    </p>
    <p class="my-2">
      He notado que esto sucede a menudo cuando el profesional comienza su práctica con la técnica directa. Aunque no está mal, este enfoque es menos eficiente para quienes buscan seguridad y excelencia en este campo.
    </p>
  </div>

  <!-- Final CTA -->
    <div class="text-center mt-12">
      <a href={bannerInformation.buttonLink} target="_blank" class="bg-gold text-black font-semibold px-6 py-4 rounded-lg hover:bg-yellow-500 transition">
        Inscríbete Ahora
      </a>
    </div>

</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  html {
    scroll-behavior: smooth;
  }

  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
  }

  a:hover svg {
    transform: translateY(2px);
  }

  a svg {
    transition: transform 0.2s;
  }
</style>
