---
import { Image } from "astro:assets";
// import { Icon } from "astro-icon/components";
// import astronautImage from "~/assets/astronaut.png";
import melissaImage from "~/assets/melissa_3.png";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";
import bannerInformation from "~/content/generalDataInformation";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative bg-gray-900 text-white pb-10">
  <Starfield />

  <div class="relative grid place-items-center sm:grid-cols-2 px-4 pt-8 sm:pt-2 mx-5">
    <div class="flex flex-col space-y-10">    
      <div class="flex flex-col items-center text-center">
        <div class="sm:hidden">
          <Image class="w-20 md:w-20 mx-auto my-2" src={melissaImage} alt="Melissa Odontologa" />
        </div>
        <h2 class="text-lg sm:text-xl font-medium my-2">
          {bannerInformation.tittle}
        </h2>
        <h3 class="text-2xl sm:text-3xl font-bold text-gold">
          {bannerInformation.tecnique}
        </h3>
      </div>

      <div class="text-justify font-light md:items-center md:text-center space-y-4 sm:text-left sm:items-start">
        <p class="text-sm sm:text-base">
          {bannerInformation.ask}
        </p>
        <p class="text-sm sm:text-base">
          En este curso online, te enseñaré paso a paso cómo construir <span class="font-bold text-gold">carillas en resina indirecta.</span> Un protocolo predecible y replicable.
        </p>
      </div>

      <ul class="text-sm sm:text-base font-light my-4 mx-5">
        {bannerInformation.list.map((item) => (
          <li class="flex align-middle text-justify">
            <span class="text-green-500 pr-4">✅</span>
            {item}
          </li>
        ))}
      </ul>

      <div class="items-center text-center my-10">
        <a href={bannerInformation.buttonLink} target="_blank" class="mt-4 px-6 py-4 bg-amber-300 text-white font-semibold rounded-md hover:bg-yellow-500 hover:text-white transition-colors">
          {bannerInformation.buttonLabel}
        </a>
        <p class="mt-4 text-light text-extralight">acceso inmediato</p>
      </div>
    </div>

    <div class="hidden sm:flex sm:items-center sm:justify-center">
      <Image class="h-full w-full object-cover rounded-md shadow-lg" src={melissaImage} widths={widths} sizes={sizes} loading="eager" alt="A floating astronaut in a space suit" />
    </div>
  </div>

  <!-- Arrow Button positioned between sections -->
  <div class="flex justify-center mt-6 relative z-10">
    <a href="#white-container" class="flex items-center justify-center w-12 h-12 bg-white rounded-full border border-gray-300 hover:bg-gray-200 transition-colors">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-gray-900">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </a>
  </div>

  <!-- Centered White Container -->
  <div id="white-container" class="relative text-sm max-w-screen-md px-5 py-10 -mt-6 md:mx-auto mx-5 mb-15 bg-white text-black text-justify rounded-md shadow-md">
    <p class="my-2">
      Domina el arte de crear carillas de resina indirectas con precisión y naturalidad.
    </p>
    <p class="my-2"> 
      La confección de carillas de resina puede ser un desafío, especialmente si estás comenzando y aún no has encontrado un método seguro y cómodo de seguir.
    </p>
    <p class="my-2">
      Sin un protocolo bien definido, los errores pueden comprometer la satisfacción del paciente y afectar tu reputación profesional a largo plazo.
    </p>
    <p class="my-2">
      Además, es frustrante dedicar tiempo y esfuerzo a un procedimiento solo para tener que repetirlo porque el resultado no cumplió con las expectativas del paciente.
    </p>
    <p class="my-2">
      He notado que esto sucede a menudo cuando el profesional comienza su práctica con la técnica directa. Aunque no está mal, este enfoque es menos eficiente para quienes buscan seguridad y excelencia en este campo.
    </p>
  </div>

  <!-- <p>.</p> -->
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
  }

  a:hover svg {
    transform: translateY(2px);
  }

  a svg {
    transition: transform 0.2s;
  }
</style>
