---
import { Image } from "astro:assets";
// import { Icon } from "astro-icon/components";
// import astronautImage from "~/assets/astronaut.png";
import melissaImage from "~/assets/melissa_3.png";
import logoMo from "~/assets/logo_mo.png";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";
import bannerInformation from "~/content/generalDataInformation";
import Button from "~/components/button.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative bg-gray-900 text-white pb-10">
  <Starfield />

  <!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8"> -->
  <div class="relative min-h-[80vh] bg-blue-600 grid place-items-center px-4 py-12 sm:pt-2 grid-cols-1 md:grid-cols-[40%,60%] gap-6 mx-5 md:mx-20">
    <!-- Left Section: Text and Call to Action (40% on Desktop) -->
    <div class="text-center md:text-left md:justify-center">
      <Image class="w-10 h-15 mx-auto" src={logoMo} alt="Instructor" />
      <h2 class="text-lg sm:text-xl font-medium mt-10">
        {bannerInformation.tittle}
      </h2>
      <h3 class="text-2xl sm:text-3xl font-bold text-gold">
        {bannerInformation.tecnique}
      </h3>
      <p class="text-base my-10">
        En este curso online, te enseñaré paso a paso cómo construir <span class="font-bold text-gold">carillas en resina indirecta.</span> Un protocolo predecible y replicable.
      </p>
      <!-- CTA Button -->
      <div class="">
        <a href="https://melissaodontologa.com/curso-carillas-resina-indirectas/" class="w-full block mb-10 px-10 py-5 bg-gold text-white font-semibold rounded-md hover:bg-yellow-600 hover:text-white transition-colors align-center text-center">
          ¡Quiero mi cupo!
        </a>
      </div>
    </div>
  
    <!-- Right Section: Video Embed (60% on Desktop) -->
    <div class="grid grid-cols-1 gap-4 justify-center md:ml-20">
      <video 
        class="w-full h-auto rounded-lg shadow-lg" 
        controls
        preload="auto"
      >
        <source src="https://res.cloudinary.com/dbyp3pr3d/video/upload/v1729030500/video_editado_landing_page_frhxn6.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  
  <!-- Ajuste del espacio entre la sección de video y los beneficios -->
  <div class="relative bg-red-500 grid place-items-center px-4 pt-6 pb-8 sm:pt-2 sm:pb-6 mx-5 grid-cols-1 md:grid-cols-3 gap-4 mb-8 mt-10 md:-mt-20">
    {bannerInformation.list.map((item) => (
      <div class="flex flex-col items-center bg-white border rounded py-6">
        <span class="text-green-500 pr-4">✅</span>
        <p class="text-sm text-black">{item}</p>
      </div>
    ))}
  </div>

    <!-- Course Instructor -->
    <!-- <div class="text-center mb-10">
      <Image class="w-32 h-32 mx-auto rounded-full shadow-md" src={melissaImage} alt="Instructor" />
      <h2 class="text-2xl font-bold mt-4">Melissa Odontóloga</h2>
      <p class="text-sm text-gray-300">Más de 10 años de experiencia enseñando técnicas avanzadas de odontología.</p>
    </div> -->

    <!-- Larger image on the right side for bigger screens -->
    <!-- <div class="hidden sm:flex sm:items-center sm:justify-center">
      <Image class="h-full w-full object-cover rounded-md shadow-lg" src={melissaImage} widths={widths} sizes={sizes} loading="eager" alt="Melissa Odontologa" />
    </div> -->
  </div>

  <!-- Arrow Button positioned between sections -->
  <div class="flex justify-center mt-6 relative z-10">
    <a href="#white-container" class="flex items-center justify-center w-12 h-12 bg-white rounded-full border border-gray-300 hover:bg-gray-200 transition-colors">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-gray-900">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </a>
  </div>

  <!-- Centered White Container -->
  <div id="white-container" class="relative text-sm max-w-screen-md px-5 py-10 -mt-6 md:mx-auto mx-5 mb-15 bg-white text-black text-justify rounded-md shadow-md">
    <p class="my-2">
      Domina el arte de crear carillas de resina indirectas con precisión y naturalidad.
    </p>
    <p class="my-2"> 
      La confección de carillas de resina puede ser un desafío, especialmente si estás comenzando y aún no has encontrado un método seguro y cómodo de seguir.
    </p>
    <p class="my-2">
      Sin un protocolo bien definido, los errores pueden comprometer la satisfacción del paciente y afectar tu reputación profesional a largo plazo.
    </p>
    <p class="my-2">
      Además, es frustrante dedicar tiempo y esfuerzo a un procedimiento solo para tener que repetirlo porque el resultado no cumplió con las expectativas del paciente.
    </p>
    <p class="my-2">
      He notado que esto sucede a menudo cuando el profesional comienza su práctica con la técnica directa. Aunque no está mal, este enfoque es menos eficiente para quienes buscan seguridad y excelencia en este campo.
    </p>
  </div>

  <!-- Final CTA -->
    <div class="text-center mt-12">
      <a href={bannerInformation.buttonLink} target="_blank" class="bg-gold text-black font-semibold px-6 py-4 rounded-lg hover:bg-yellow-500 transition">
        Inscríbete Ahora
      </a>
    </div>

</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
  }

  a:hover svg {
    transform: translateY(2px);
  }

  a svg {
    transition: transform 0.2s;
  }
</style>
